{% extends "layout.html" %}
{% block body %}
  <div class="ui fixed inverted menu blue">
    <div class="ui container">
      <p class="header item">
        <i class="line chart icon"></i>
        Community Dashboard
      </p>
    </div>
  </div>

  <h1 id="community-name">GDG Belo Horizonte</h1>

  <div class="ui centered grid statistics container">
    <div class="statistic">
      <div class="value">
        77
      </div>
      <div class="label">
        Events
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        4.201
      </div>
      <div class="label">
        Attendees
      </div>
    </div>
  </div>

  <div class="ui two column doubling stackable grid container">
    <div class="column">
      <div class="graphic" id="no-show-chart"></div>
    </div>
    <div class="column">
      <div class="graphic" id="diversity-chart"></div>
    </div>

  </div>
  <div class="ui two column doubling stackable grid container">
    <div class="column">
      <div class="graphic" id="newest-older-attendees-chart"></div>
    </div>
    <div class="column">
      <div class="graphic" id="topics-chart"></div>
    </div>
  </div>

  <div class="ui inverted vertical footer segment blue">
    <p></p>
  </div>
{% endblock %}
