{% extends "layout.html" %}
{% block body %}
  <div class="pusher">
    <div class="ui vertical center aligned stripe segment">
      <div class="ui text container">
          <h1 class="ui header blue">
            Community Dashboard
          </h1>
          <h3 class="blue">Know more about your community</h3>

          <form action="{{ url_for('dashboard') }}" method="get">
              meetup.com/
              <input type="text" id="urlname" name="urlname" placeholder="type your meetup urlname"/>
              <div class="center aligned grid column">
                  <button id="go" class="ui huge button" type="submit">Go!</button>
              </div>
          </form>


      </div>
    </div>
  </div>
{% endblock %}
