{% extends "layout.html" %}
{% block body %}
  <div class="pusher">
    <div class="ui vertical center aligned stripe segment">
      <div class="ui text container">
          <h1 class="ui header blue">
            Community Dashboard
          </h1>
          <h3 class="blue">Know more about your community</h3>

          <div class="center aligned grid column">
              meetup.com/
              <input type="text" id="urlname" placeholder="urlname">
            <div class="center aligned grid column">
              <a class="ui huge button" href="dashboard">
              <i id="go" class="right arrow icon"></i>
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
