<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Community Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/dist/semantic.css') }}">
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="{{ url_for('static', filename='lib/jquery-1.12.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/highcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/graphics.js') }}"></script>
  </body>
</html>
